body{
  margin: 0;
  text-align: center;

font-size: 200%;

}
h1{
    color: #525252;
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
  font-family:'Sacramento', cursive;

}
h2{
  color: #414141;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color: #11999E;
font-family: 'Merriweather Sans', sans-serif;
}
.top-container h3{
  color: #414141;
}


.top-container{
  background-color:#00FFC6;
  font-family:'Sacramento', cursive;
  position: relative;
  padding-top: 100px;


}
.middle-container{

}
.bottom-container{

}

.top-cloud{
position: absolute;
right: 200px;
top: 100px;
}
.bottom-cloud{
position: absolute;
left: 100px;
bottom: 300px;
}

.name{
  position:relative;
  top: 60px;
}
.monun{
  position:relative;
  bottom: 0px;
  margin: 10px:
  bottom-margin:20px;
}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto ;
  text-align: left;
  line-height: 1.50;

}
.code-img{
  width: 25%
  background-color:#00FFC6;
  float: left;
  padding-right: 25px;
}
 .skill {
  width: 25%
  background-color:#00FFC6;
  float: right;
  }
